@import "../sass/vars";

:host {
  .menu {
    padding: 20px;
    width: 100%;
    text-align: center;
  }
  .content {
    display: block;
    padding: 30px;
    background-color: $color-gainsboro;
  }
}
